@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@import "variables";

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: auto;
  .main-title {
    text-align: center;
  }
}
